<header>
  <div class="header-nav">
    <a href="/list" class="header-logo">社員情報管理システム</a>
    <p>こんにちは、<%= locals.username %> さん</p>
    <ul>
      <li>
        <a href="/logout">ログアウト</a>
      </li>
    </ul>
  </div>
</header>
