<header>
  <div class="header-nav">
    <a href="/list" class="header-logo">EMPLOYEES MANAGEMENT</a>
    <p>Hello, <%= locals.username %>.</p>
    <ul>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </div>
</header>
