<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>社員情報管理システム</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <h1><a href="/list">社員情報管理システム</a></h1>
        <div class="panel">
          <h2>ログイン</h2>
          <form action="/login" method="POST">
            <p>メールアドレス</p>
            <input type="text" name="email">
            <p>パスワード</p>
            <input type="password" name="password">
            <input type="submit" value="ログイン">
            <a href="/before-signup">ユーザー登録</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
