<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <title>ADD EMPLOYEE</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="header-nav">
      <a href="/list" class="header-logo">EMPLOYEES MANAGEMENT</a>
      <p>Login name: <%= locals.username %>.</p>
    </div>
  </header>
  <div class="container">
    <div class="container-header">
      <h1>Additional employee</h1>
    </div>
    <div class="employee-form-wrapper">
      <form action="/create" method="post">
        <p class="form-label">Name</p>
        <input type="text" name="employeeName">
        <p class="form-label">Department</p>
        <input type="text" name="departmentName">
        <input type="submit" value="Submit">
      </form>
    </div>
    <a href="/list" class="cancel-button">Cancel</a>
  </div>
</body>
</html>
