<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ユーザー登録</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="sign">
      <div class="container">
        <h1><a href="/">社員情報管理システム</a></h1>
        <div class="panel">
          <h2>ユーザー登録</h2>
          <% if (errors.length > 0) { %>
            <ul class="errors">
              <% errors.forEach(error => { %>
                <li><%= error %></li>
              <% }); %>
            </ul>
          <% } %>
          <form action="/signup" method="post">
            <p>ユーザー名</p>
            <input type="text" name="username">
            <p>メールアドレス</p>
            <input type="text" name="email">
            <p>パスワード (※6文字以上)</p>
            <input type="password" name="password">
            <input type="submit" value="ユーザー登録">
            <a href="/logout">キャンセル</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
