/* reset ================================ */
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

body {
  margin: 0;
  background-color: #f6faff;
  color: #6c7686;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

a:hover {
  transition: all 0.3s ease;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1 {
  font-weight: 600;
}

input {
  font-family: inherit;
  font-size: 100%;
}

/* top ================================ */
/* .top-wrapper {
  max-width: 1200px;
  min-width: 920px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 60px;
}

.top-detail {
  width: 36%;
  min-width: 320px;
  margin-top: -40px;
}

.top-detail .subtitle {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}

.top-detail .title {
  font-size: 54px;
  line-height: 66px;
  letter-spacing: 2px;
  margin-bottom: 24px;
}

.top-detail .description {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 40px;
}

.top-detail .index-button {
  width: 184px;
  height: 48px;
  text-align: center;
  line-height: 45px;
  font-weight: 600;
  color: #42cea9;
  background-color: #ffffff;
  border: 2px solid #58d2b2;
  border-radius: 2px;
}

.top-detail .index-button:hover {
  color: #ffffff;
  background-color: #58d2b2;
} */

/* .index-button {
  cursor: pointer;
} */

/* .top-image
{
  width: 64%;
  text-align: center;
  overflow: hidden;
} */

/* .top-image img {
  width: 88%;
} */

/* header ================================ */
header {
  height: 72px;
  background-color: #ffffff;
  border-bottom: 1px solid #f0f4f9;
}

.header-logo {
  margin-left: 50px;
  font-weight: 600;
  font-size: 18px;
  /* line-height: 56px; */
  color: #6c7686;
  display: inline
;
}

.header-logo:hover {
  color: #58d2b2;
}

.header-nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  min-width: 700px;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  height: 80px;
}

.header-nav > a {
  color: #2B546A
;
  font-size: bold;
}

.header-nav p {
  padding-left: 30px;
  font-size: 15px;
  color: #2B546A;
  font-weight: bold;
  word-wrap: break-word;
  opacity: 0.7;
  flex: 1;
}

.header-nav ul {
  text-align: right;
  display: flex;
}

.header-nav li > a {
  white-space: nowrap;
  display: inline-block;
  font-size: 15px;
  color: #2B546A;
  font-weight: bold;
  padding-left: 30px;
}

/* container ================================ */
.container {
  width: 70%;
  min-width: 360px;
  max-width: 720px;
  margin: 0 auto;
  margin-top: 56px;
}

.container-header-search {
  margin-bottom: 12px;
}

.container-header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.container-header-list .new-button {
  background: #80bcff;
  border-radius: 30px;
  font-size: 14px;
  width: 120px;
  height: 45px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
  border: 2px solid #80bcff;
}

.container-header-list .new-button:hover {
  background-color: #ffffff;
  color: #80bcff;
  transition: all 0.3s ease;
}

.cancel-button {
  margin-top: 16px;
  margin-left: 2px;
  font-weight: 600;
  color: #bac6d3;
  text-decoration: underline;
  display: inline-block;
}

.cancel-button:hover {
  color: #80bcff;
}

.container-header h1 {
  font-size: 24px;
}

/* index ================================ */
.table-head {
  display: flex;
  background-color: #b7cadc;
  border-radius: 2px 2px 0 0;
  height: 44px;
  font-size: 16px;
  line-height: 45px;
  color: #ffffff;
}

.id-column {
  width: 90px;
  text-align: center;
}

.name-column {
  width: 20vw;
}

.table-body {
  background-color: #ffffff;
}

.table-body li {
  height: 72px;
  border: 1px solid #f0f4f9;
  border-top: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.table-body .id-column {
  font-size: 16px;
  color: #bac6d3;
}

.table-body .name-column, .table-body .department-column {
  font-size: 14px;
  font-weight: 500;
}

.item-data {
  display: flex;
}

.item-menu {
  display: flex;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
}

.item-menu form {
  width: 60px;
  text-align: center
}

.item-menu form input {
  font-size: 16px;
  color: #d49898;
  cursor: pointer;
  margin-top: 16px;
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
}

/.item-menu form input:hover {
  color: #ff7f8c;
  transition: all 0.5s ease;
}

.item-menu a {
  width: 90px;
  font-size: 16px;
  color: #bad3c1;
  text-align: center;
}

.item-menu a:hover {
  color: #80bcff;
}

/* new, edit ================================ */
.employee-form-wrapper {
  background-color: #ffffff;
  border: 1px solid #f0f4f9;
  border-radius: 0px 0px 2px 2px;
  padding: 32px;
}

.form-label {
  font-size: 14px;
  color: #8491a5;
}

.employee-form-wrapper input[type="text"] {
  width: 100%;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 12px 16px;
  background-color: #fcfcfd;
  border: 1px solid #bac6d3;
  color: #2b546a;
  font-size: 12px;
}

.employee-form-wrapper input[type="submit"] {
  display: block;
  width: 120px;
  height: 45px;
  margin-top: 24px;
  margin-left: auto;
  border-radius: 30px;
  font-size: 14px;
  background-color: #80bcff;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  border: 2px solid #80bcff;
}

.employee-form-wrapper input[type="submit"]:hover {
  background-color: #ffffff;
  color: #80bcff;
  transition: all 0.3s ease;
}

/* login ================================ */

.sign {
  background-color: #ffffff;
  text-rendering: optimizeSpeed;
  color: #2B546A;
  line-height: 1.6;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.sign > .container {
  width: 550px;
  padding: 60px 0;
}

.sign > .container > p {
  margin-top: 36px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.sign > .container > p > a {
  /* display: inline-block; */
  /* margin-left: 20px; */
  /* color: #4CCFC9; */
}

.sign > .container > p > a:hover {
  /* color: #2DC2BC; */
}

.sign > .container form {
  padding-top: 40px;
}

.sign .panel {
  padding: 60px 80px 40px;
  background-color: #F6FAFF;
}

.sign h1 {
  text-align: center;
  margin-bottom: 50px;
}

.sign h1 > a {
  color: #2B546A;
  font-size: 28px;
}

.sign h1 > a:hover {
  color: #2b6d90;
}

.sign h2 {
  text-align: center;
  font-size: 24px;
}

.sign form > p {
  margin-bottom: 10px;
}

.sign form > a {
  display: block;
  width: 50%;
  text-align: center;
  margin: 10px auto 0;
  color: #A4B5C8;
  font-weight: bold;
  padding: 15px 0;
}

.sign input {
  width: 100%;
  padding: 10px 20px;
  line-height: 1.8;
  border: 1px solid #d5dee8;
  background-color: #FCFCFD;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  color: #2B546A;
}

.sign input:hover {
  border-color: #b6c4d2;
  box-shadow: 0px 0px 12px 1px rgba(160, 195, 247, 0.2);
}

.sign input:focus {
  border-color: #b6c4d2;
}

.sign input[name="username"] {
  margin-bottom: 30px;
  padding: 10px 20px;
  line-height: 1.8;
  border: 1px solid #d5dee8;
}

.sign input[name="email"] {
  margin-bottom: 30px;
}

.sign input[type="submit"] {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #4CCFC9;
  height: 54px;
  border-radius: 27px;
  width: 90%;
  display: block;
  margin: 50px auto 0;
}
